/***** BASE STYLES *****/

@font-face {
    font-family: 'Cheque-Regular';
    src: url('../css/fonts/Cheque-Regular.eot');
    Src: url('../css/fonts/Cheque-Regular.eot?#iefix') format('embedded-opentype'), 
		url('../css/fonts/Cheque-Regular.woff2') format('woff2'),
        url('../css/fonts/Cheque-Regular.woff') format('woff'),
        url('../css/fonts/Cheque-Regular.ttf') format('truetype'),
		url('../css/fonts/Cheque-Regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 16px;
    line-height: 10px;
}

body {
    background: #f6f6f6;
    max-width: 1200px;
    margin: auto;
}

.content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    line-height: 20px;
    width: 90%;
    margin: 0 auto;
}

.third-width {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0;
    padding-top: 10px;
}

#copyright {
    margin-top: auto;
	vertical-align: bottom;
    padding-bottom: 5px;
}

#copyright p {
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
    font-size: .6em;
    color: #ebebeb;
}

a {
    color: #7f7f7f;
    text-decoration-color: #0394bd;
}

    /***** MOBILE HEADER *****/

header #banner {
    width: 100%;
	height: auto;
}

header .content-wrapper {
    flex-flow: column wrap;
    align-items: center;
    background-color: #dac2ff;
    width: 100%;
}

header h1 {
    font-family: 'Cheque-Regular';
    font-size: 2.5em;
    font-weight: 400;
    color: #000000;
    text-align: center;
    margin: 5px 0 5px 0;
}

header .half-width {
    text-align: center;
}

header h3 {
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: #000000;
    margin: 0;
    padding-bottom: 10px;
	padding-top: 5px;
    text-align: center;
    border-bottom: 1px solid #0394bd;
    width: 100%;
}

#nav {
    padding-top: 1.5px;
    margin: 0;
}

#nav ul {
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

#nav ul li {
    display: inline-block;
    padding-right: 10px;
}

#nav ul li a {
    font-size: .6em;
    font-weight: bold;
    color: #2b2b2b;
    text-transform: uppercase;
    text-decoration: none; 
}

header h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: .95em;
    color: #fff;
    padding: 20px 0;
    margin: 0;
}

header h2 span {
    color: #0394bd;
    font-size: 1.5em;
}

    /***** MOBILE ABOUT SECTION *****/

#about .content-wrapper {
    justify-content: flex-start;
    padding-bottom: 20px;
}

#about h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: .85em;
    color: #000000;
    margin-left: 15px;
}
 
#about p {
    font-family: 'Montserrat', sans-serif;
    font-size: .8em; 
    color: #7f7f7f;
    padding: 0 10px 0 20px;
    margin-top: 0;
}

    /***** MOBILE WORK SECTION *****/

#work {
    text-align: center;
    background-color: #dac2ff;
    padding: 20px 0;
}
 
#work img {
    width: 50px;
    padding-bottom: 10px;
}

#work h3 {
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.5em;
    width: 175px;
    margin: 0 auto;
}
 
#work p {
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.2em;
    padding: 0 20px;
}

    /***** MOBILE CONTACT SECTION *****/

#contact {
    background-color: #000000;
}

#contact .content-wrapper {
    padding: 20px 0 0;
}

#contact .half-width {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#contact-img {
    border: 1px solid #ebebeb;
    width: 100%;
}

#contact h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125em;
    color: #fff;
    margin-bottom: 30px;
    padding-top: 5px;
}

#contact #email-header {
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
    font-size: .95em;
    line-height: 1em;
    font-weight: normal;
    color: #ebebeb;
    margin: -15px 0 10px 15px;
}

#contact #envelope {
    width: 25px;
}

#contact a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    color: #0394bd;
    text-decoration: underline;
}

#contact #socialmedia-header {
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    color: #fff;
    margin: 30px 0 5px 0;
}

#contact ul {
    list-style: none;
    margin-top: 5px;
    padding-left: 30px;
}

#contact ul li {
     display: inline-block;
}

#contact ul img {
    width: 20px;
    padding-right: 30px;
}

/* -- TABLET STYLES -- */
@media screen and (min-width: 768px) {

    /***** TABLET HEADER *****/

header h1 {
    font-size: 5em;
    padding: 20px 0;
    margin-top: 20px;
}

header h3 {
    font-size: 3.85em;
    padding: 20px 0 38px 0;
}

#nav {
    padding-top: 20px;
}

#nav ul li {
    padding-right: 20px;
}

#nav ul li a {
    font-size: 1.2em; 
}

header h2 {
    font-size: 1.75em;
    line-height: 1.5em;
    padding: 50px 0 40px 0;
}

    /***** TABLET ABOUT SECTION *****/

#about .content-wrapper {
    padding-bottom: 40px;
}

#about h2 {
    font-size: 1.55em;
    padding-top: 15px;
}
 
#about p {
    font-size: 1.35em;
    line-height: 1.5em;
    width: 90%;
}

    /***** TABLET WORK SECTION *****/

#work .third-width {
    width: 33%;
    line-height: 1.5em;
}
 
#work img {
    padding-bottom: 30px;
    width: 65px;
}

#work h3 {
    font-size: 1.5em;
    width: 175px;
    margin: 0 auto;
}
 
#work p {
    font-size: 1.3em;
    padding: 0 15px;
}

    /***** TABLET CONTACT SECTION *****/

#contact-img {
    width: 600px;
    margin-top: 20px;
}

#contact h2 {
    font-size: 2.55em;
    margin-bottom: 40px;
    padding-top: 10px;
}

#contact #email-header {
    font-size: 1.5em;
    margin: 0;
}

#contact #envelope {
    padding-top: 20px;
    width: 50px;
}

#contact #socialmedia-header {
    font-size: 1.5em;
    margin: 80px 0 20px 0;
}

#contact a {
    font-size: 2em;
}

#contact ul img {
    padding-right: 50px;
    width: 40px;
}

#copyright {
    padding-top: 50px;
}

#copyright p {
    font-size: 1.25em;
}

}

/* -- LAPTOP STYLES -- */
@media screen and (min-width: 1024px) {

    /***** LAPTOP HEADER *****/

header .content-wrapper {
    flex-flow: row wrap;
}
    
header h1 {
    font-size: 5.5em;
    letter-spacing: 10px;
}

header h3 {
    padding-top: 25px;
    border-bottom: hidden !important;
}

header .half-width {
    border-bottom: 1px solid #0394bd !important;
}

#nav {
    padding: 30px 0 32px 15px;
}

#nav ul li {
    padding-right: 10px;
}

#nav ul li a {
    font-size: 1.25em;
}

    /***** LAPTOP ABOUT SECTION *****/

#about .half-width {
    width: 50%;
}

#about h2 {
    font-size: 1.75em;
    padding-left: 12px;
    margin-bottom: 20px;
    width: 100%;
}

#about p {
    padding: 0 30px;
}

    /***** LAPTOP WORK SECTION *****/

#work .content-wrapper {
    padding: 20px 0;
}

#work .third-width {
    line-height: 1.75em;
    padding: 0;
}

#work img {
    width: 80px;
}

#work h3 {
    font-size: 1.75em;
    width: 200px;
}
 
#work p {
    font-size: 1.5em;
    padding: 0 25px;
}

    /***** LAPTOP CONTACT SECTION *****/

#contact .half-width {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
}

#contact-img {
    width: 100%;
    margin-top: 25px;
}

#contact h2 {
    font-size: 1.7em;
    margin-left: 27px;
    padding-top: 0;
}

#contact #email-header {
    padding-left: 45px;
}

#contact #envelope {
    width: 40px;
}

#contact #socialmedia-header {
    margin-top: 50px;
}

#contact ul img {
    width: 35px;
}

}

/* -- DESKTOP STYLES -- */
@media screen and (min-width: 1200px) {

header h1 {
    font-size: 5.85em;
    margin-top: 25px;
}

header h2 {
    font-size: 2em;
    padding-top: 75px;
}

#nav {
    padding-bottom: 30px;
}

#nav ul li a {
    font-size: 1.5em;
}

#about h2 {
    font-size: 1.85em;
}

#about p {
    font-size: 1.5em;
}

#work .third-width {
    line-height: 2em;
}

#work p {
    line-height: 1.35em;
    padding: 0 50px;
}

#contact h2 {
    font-size: 2em;
}

#contact #email-header {
    font-size: 1.75em;
}

#contact #envelope {
    width: 50px;
}

#contact a {
    font-size: 2.5em;
}

#contact #socialmedia-header {
    font-size: 1.75em;
    margin-top: 75px;
}

#copyright p {
    font-size: 1.5em;
}

}

@media screen and (max-width: 319px) {
    
    header h1 {
        font-size: 1.85em;
    }

    header h2 {
        font-size: .85em;
    }

    header h3 {
        padding: 0 0 10px 2px;
    }

    #contact h2 {
        font-size: .95em;
    }

    #contact #email-header {
        font-size: .8em;
    }

    #copyright p {
        font-size: .5em;
    }

}